{% load static %}
<footer class="footer-area default-style bg-img" data-bg-img="{% static 'halaman/assets/img/gallery/bd.jpg'%}">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item mb-sm-30">
              <div class="about-widget">
                <a class="footer-logo" href="">
                  <img src="{% static 'halaman/assets/img/gymbuddytr.png' %}" alt="Logo">
                </a>
                <p>GymBuddy is your ultimate fitness companion — helping you stay motivated, track your progress, and connect with others on the same journey. Whether you're a beginner or a seasoned lifter, GymBuddy is here to push, support, and grow with you.</p>
                <div class="opening-time">
                  <h4 class="title">Opening time</h4>
                  <ul>
                    <li>Monday - Friday: 7 am to 10 pm</li>
                    <li>Saturday - Sunday: 9 am to 10 pm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item pl-20 pl-sm-0 mb-sm-30 mb-xs-40">
              <h4>USEFULL LINK</h4>
              <nav class="widget-menu-wrap">
                <ul class="nav-menu nav">
                  <li><a href="about.html">About us</a></li>
                  <li><a href="team.html">Membership</a></li>
                  <li><a href="classes.html">Our Classes</a></li>
                  <li><a href="team.html">Instructors</a></li>
                  <!-- <li><a href="shop.html">Shop</a></li> -->
                  
                </ul>
                <ul class="nav-menu nav">
                  <li><a href="blog.html">Blog post</a></li>
                  <!-- <li><a href="#/">Schedules</a></li> -->
                  <!-- <li><a href="#/">Payment</a></li> -->
                  <!-- <li><a href="#/">Faqs</a></li> -->
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="widget-item mb-xs-50">
              <h4>CONTACT INFO</h4>
              <div class="widget-contact-info">
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="{% static 'halaman/assets/img/icons/add.png' %}" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Address</h4>
                    <p>252B, Central Street Main road Belix Tower, New York, USA</p>
                  </div>
                </div>
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="{% static 'halaman/assets/img/icons/ph.png' %}" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Phone</h4>
                    <ul>
                      <li><a href="tel://09(123)456789">09 (123) 456 789</a></li>
                      <li><a href="tel://09(987)654321">09 (987) 654 321</a></li>
                    </ul>
                  </div>
                </div>
                <div class="contact-info-item">
                  <div class="icon-box">
                    <img src="{% static 'halaman/assets/img/icons/wb.png' %}" alt="Logo">
                  </div>
                  <div class="content">
                    <h4 class="title">Web</h4>
                    <ul>
                      <li><a href="mailto://info@example.com">info@example.com</a></li>
                      <li><a href="index.html">www.example.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="widget-item">
              <h4>NEWSLETTER</h4>   
              <div class="widget-newsletter">
                <p>Subscribe our Newsletter and gates latest updates of offers, productsa and promotions from every week we provide</p>
                <form class="newsletter-form input-btn-group">
                  <input class="form-control" type="text" placeholder="Email here">
                  <button class="btn btn-theme" type="button"><i class="fa fa-paper-plane-o"></i></button>
                </form>
              </div>         
              <div class="widget-social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-content">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="widget-copyright text-center">
                <p><i class="fa fa-copyright"></i> 2021 Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://www.hasthemes.com">HasThemes</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>