{% load static %}
<header class="header-area header-default header-transparent header-style sticky-header">
    <div class="container">
      <div class="row row-gutter-0 align-items-center">
        <div class="col-4 col-xs-3 col-sm-3 col-md-3 col-xl-3">
          <div class="header-logo-area">
            <a href="index.html">
              <img class="logo-main" src="{% static 'halaman/assets/img/gymbuddytr.png' %}" alt="Logo" />
              <img class="logo-light" src="{% static 'halaman/assets/img/gymbuddytr.png' %}" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-8 col-sm-9 col-xl-9">
          <div class="header-align">
            <div class="header-navigation-area d-none d-xl-block">
              <ul class="main-menu nav position-relative">
                <li><a href="index.html">Home</a></li>
                <li><a href="halaman/about.html">About</a></li>
                <li class="has-submenu"><a href="{% static 'halaman/classes.html'%}">Classes</a>
                  <ul class="submenu-nav">
                    <li><a href="{% static 'halaman/classes.html'%}">Classes</a></li>
                    <li><a href="{% static 'halaman/class-details.html'%}">Class Details</a></li>
                  </ul>
                </li>
                <!--Shop just for next project
                <li class="has-submenu"><a href="shop.html">Shop</a>
                  <ul class="submenu-nav">
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                    <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li>
                    <li><a href="shop-single-product.html">Product Details</a></li>
                    <li><a href="shop-single-product-left-sidebar.html">Product Details Left Sidebar</a></li>
                    <li><a href="shop-single-product-right-sidebar.html">Product Details Right Sidebar</a></li>
                    <li><a href="shop-single-product-no-sidebar.html">Product Details No Sidebar</a></li>
                  </ul>
                </li>-->
                <li class="has-submenu"><a href="{% static 'halaman/team.html'%}">Trainers</a>
                  <ul class="submenu-nav">
                    <li><a href="{% static 'halaman/team.html'%}">Trainers</a></li>
                    <li><a href="{% static 'halaman/team-details.html'%}">Trainer Details</a></li>
                  </ul>
                </li>
                <li class="has-submenu"><a href="{% static 'halaman/blog.html'%}">Blog</a>
                  <!--no need for now
                    <ul class="submenu-nav">
                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                    <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                    <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                    <li><a href="blog-details-no-sidebar.html">Blog Details No Sidebar</a></li>
                  </ul>-->
                </li>
                <li><a href="{% static 'halaman/contact.html'%}">Contact</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
              </ul>
            </div>
            <!-- no need for now, cart button is not used, related to shop page, v2 : cart button used for dashboard button--
             <div class="header-action-area">
              <div class="header-action-cart d-none d-xl-block">
                <button class="btn-cart cart-icon" onclick="window.location.href='shop.html'">
                  <span class="cart-count">2</span>
                  <i class="pe-7s-shopbag"></i>
                </button>
              </div>
              <button class="btn-menu d-xl-none">
                <i class="fa fa-bars"></i>
              </button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </header>